<!DOCTYPE html>
<head>

</head>
<body>
    
    <p><%= title %></p>
    <ul>
        <% items.forEach(function(item) { %>
            
          <li>
            <%= item.text %>
            <br/>
            <img src="<%= item.picUrl %>" alt="">
          </li>

          <hr/>
          
        <% }); %>
    </ul>
    

    
</body>

</html>